{:output-wrapper false, :externs ["closure-js/externs"], :libs ["closure-js/libs"], :output-to "resources/public/js/dev.js", :output-dir "resources/public/js/cljs-dev", :pretty-print true, :source-map true}